{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('.static', filename='')}}">
{% endblock %}

{% block content %}
 <h1>Edit Your Profile</h1>
  <form action="" method="post" name="create">
      {{form.hidden_tag()}}
      <table>
          <tr style="margin-botton: 2%;">
        	<td>Instructor:</td>
        	<td>
            	{{ form.teacher(size=24) }}
            	{% for error in form.errors.teacher %}
            	<br><span style="color: red;">{{ error }}</span>
            	{% endfor %}
        	</td>
          </tr>
	  <tr>
		<td>Skill:</td>
		<td>
		{{ form.skill(size = 24) }}
	  </tr>
          <tr>
              <td>Date:</td>
              <td>{{ form.day(size=24) }}</td>
          </tr>
	  <tr>
	    </td>
	  </tr>
	  <tr>
	  <td>Time:</td>
	  <td>{{ form.time(size = 24) }}</td>
	  </tr>
	  <tr>
	  <td>Class Location:</td>
	  <td>{{ form.classlocation(size = 24) }}</td>
	  </tr>
          <tr id='submit'>
              <td></td>
              <td><input type="submit" value="Save Changes"></td>
          </tr>
      </table>
  </form>
  {% endblock %}