<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{g.user.nickname}}!</h1>
    <form action="" method="post" name="post">
        {{ form.hidden_tag() }}
        <table>
            <tr>
                <td>Say something about Skill:</td>
                <td>{{ form.post(size=30, maxlength=140) }}</td>
                <td>
                {% for error in form.errors.post %}
                <span style="color: red;">[{{ error }}]</span><br>
                {% endfor %}
                </td>
                
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Post!"></td>
                <td></td>
            </tr>
        </table>
    </form>
   
    
    {% for post in posts.items %}
        {% include 'post.html' %}
    {% endfor %}
    
    <hr>
    Hey! here are the class schedule offered this time
    <hr>
    |    Instructor    |   Time   |   Date   |   Location   |  Skill   |
    {% for meeting in classMeetings %}
    <table>
    
    	<tr>
    	
    	{%if g.user.skill == meeting[4] %}
    		{%for i in range(5)%} 
    			<td>|       {{meeting[i]}}       </td>
    		{%endfor%}
    	{%endif%}
    	</tr>
    </table>
    {%endfor%}
    
    <br>
    <hr>
    

    {%if g.user.learnTeach=='l'%}
    	{% for teacher in teachers %}
    	<table>
    		<tr><td>|	{{teacher[0]}}        </td>
    		</tr>
    	{%endfor%}
    	</table>
    {%else%}    		
    	{%for student in students%}
    	<table>
    		<tr><td>|	{{student[0]}}	</td></tr>
    	{%endfor%}
    	</table>
    {%endif%}
    		
    	
    	 
    	
   
    
   
    {% if posts.has_prev %}<a href="{{ url_for('index', page=posts.prev_num) }}"><< Newer posts</a>{% endif %}
    {% if posts.has_next %} | <a href="{{ url_for('index', page=posts.next_num) }}">Older posts >></a>{% endif %}
{% endblock %}